---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Sheep Rhythmについて</h2>
</BaseLayout>
<style>
  h2 {
    padding: 2rem 2rem;
    font-size: 1.5rem;
    color: var(--text);
  }
</style>
