---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>... and about my new astro site!</h2>

	<p>I'm learning Astro! This is my first Astro site.</p>
	<ul>
		{
			allPosts.map((post) => (
				<BlogPost url={post.url} title={post.frontmatter.title} />
			))
		}
	</ul>

	<p>This site is going to be updated regularly.</p>
</BaseLayout>
