---
const { creators } = Astro.props;
import MemberCircle from "./MemberCircle.astro";
import { members } from "../scripts/members.js";
---

<div class="members-main">
  <div class="members-container">
    {
      creators.map((m) => (
        <MemberCircle
          memberName={m.name}
          memberUrl={members[m.name].url}
          memberImage={members[m.name].image}
          memberRole={m.role}
        />
      ))
    }
  </div>
</div>
<style>
  .members-main {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .members-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 基本は3列 */
    gap: 2rem;
    max-width: 800px;
    margin: 1rem auto;
    padding: 1.5rem;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    .members-container {
      grid-template-columns: repeat(2, 1fr); /* タブレットは2列 */
      gap: 1rem;
      padding: 1rem;
    }
  }

  /* @media (max-width: 480px) {
    .members-container {
      grid-template-columns: 1fr;
    }
  } */
</style>
