---
const { siteUrl, hashtag } = Astro.props;
---

<div class="site-info">
  {
    siteUrl !== "" && (
      <button
        class="site-info-button"
        type="button"
        onclick={`window.open('${siteUrl}', '_blank')`}
      >
        公式サイト
      </button>
    )
  }

  <button
    type="button"
    class="hashtag-button"
    onclick={`window.open('https://twitter.com/hashtag/${encodeURIComponent(
      String(hashtag).replace(/^#/, ""),
    )}', '_blank')`}
  >
    感想を見る
  </button>
</div>

<style>
  .site-info-button,
  .hashtag-button {
    background-color: var(--orange);
    color: var(--text);
    cursor: pointer;
    transition: transform 0.2s ease;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    border-radius: 6px;
    overflow: hidden;
    /* // 右下にドロップシャドウ */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }

  .site-info-button:hover,
  .hashtag-button:hover {
    transform: translateY(-2px);
  }
  .site-info {
    /*中央揃え*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto;
    width: 100%;
  }

  @media (max-width: 635px) {
    .site-info-button,
    .hashtag-button {
      font-size: 0.9rem;
    }
  }
</style>
