---
const { siteUrl, hashtag, webRiddleUrl } = Astro.props;
---

<div class="site-info">
  {
    siteUrl && (
      <button
        class="site-info-button"
        type="button"
        onclick={`window.open('${siteUrl}', '_blank')`}
      >
        公式サイト
      </button>
    )
  }

  {
    webRiddleUrl && (
      <button
        class="site-info-button"
        type="button"
        onclick={`window.open('${webRiddleUrl}', '_blank')`}
      >
        今すぐ遊ぶ
      </button>
    )
  }

  {
    hashtag && (
      <button
        type="button"
        class="hashtag-button"
        onclick={`window.open('https://twitter.com/search?q=${encodeURIComponent(
          hashtag,
        )}', '_blank')`}
      >
        感想を見る
      </button>
    )
  }
</div>
<style>
  .site-info-button,
  .hashtag-button {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
    transition: transform 0.2s ease;
    margin: 0 0.5rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 6px;
    overflow: hidden;
    /* 周りに影*/
    box-shadow: 0 2px 4px rgba(0, 55, 116, 0.2);
  }

  .site-info-button:hover,
  .hashtag-button:hover {
    transform: translateY(-2px);
  }
  .site-info {
    /*中央揃え*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto;
    width: 100%;
  }

  @media (max-width: 635px) {
    .site-info-button,
    .hashtag-button {
      font-size: 0.9rem;
    }
  }
</style>
