---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import GoToTop from "../components/GoToTop.astro";
const { pageTitle } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Sheep Rhythm – “自由な発想” をコンセプトに新しい謎解き体験をお届けします。"
    />
    <title>Sheep Rhythm – {pageTitle}</title>
    <!-- <head> 内に追加 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=M+PLUS+1p:wght@400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body>
    <div class="wrapper">
      <div class="background">
        <Header />
        <div class="main">
          <main class="main-content">
            {
              pageTitle !== "" && pageTitle !== "Home" ? (
                <h1>{pageTitle}</h1>
              ) : null
            }
            {
              pageTitle === "Home" ? (
                <>
                  <h2 class="mv">
                    The sheep seek
                    <br />a meadow of ideas.
                  </h2>
                  <h3 class="mv">羊は、アイディアの草原を探す。</h3>
                </>
              ) : null
            }
            <slot name="aboveContent" />
            {
              Astro.slots.has("default") ? (
                <div class="content">
                  <slot />
                </div>
              ) : null
            }
          </main>
          <aside class="navigation">
            <Navigation />
          </aside>
        </div>
      </div>

      <!-- モバイル用オーバーレイ -->
      <div id="nav-overlay" class="nav-overlay" aria-hidden="true">
        <div class="nav-panel" role="dialog" aria-modal="true">
          <button class="nav-close" aria-label="閉じる">×</button>
          <Navigation />
        </div>
      </div>
      <GoToTop />
      <Footer />
    </div>
    <script>
      import { initMenu } from "../scripts/menu.js";

      // 1. 初回ロード時に実行
      initMenu();

      // 2. ページ遷移後にも実行
      document.addEventListener("astro:after-swap", initMenu);
    </script>
  </body>
</html>
<style>
  .mv {
    max-width: 800px;
    margin: 1rem auto;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
  }
  h2.mv {
    font-size: clamp(1rem, 6vw, 4rem);
    font-weight: 700;
    line-height: 1.2;
  }
  h3.mv {
    font-size: clamp(0.8rem, 4vw, 2rem);
    font-weight: 700;
    line-height: 1.2;
  }
</style>
